<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Earthquake Radius Prediction{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'backend/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
</head>
<body>
    <nav class="navbar">
        <ul class="navbar-menu">
            <li class="navbar-item"><a href="{% url 'home' %}" class="navbar-link">Home</a></li>
            <li class="navbar-item"><a href="{% url 'rad_form' %}" class="navbar-link">Prediksi</a></li>
        </ul>
    </nav>

    <!-- Main Content -->
    <div class="content">
        {% block content %}{% endblock %}
    </div>

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="{% static 'backend/js/predict_radius.js' %}"></script>
</body>
</html>
