{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<header>
    <h1>Prediksi Estimasi Radius Kerusakan</h1>
</header>
<main>
    <div class="container">
        <!-- Input Section -->
        <section class="input-container">
            <p class="intro-text">Masukkan data gempa atau unggah file CSV untuk memprediksi radius kerusakan</p>
            <div class="input-forms">
                <!-- Manual Input Form -->
                <form id="predictionForm" class="form">
                    <h3>Input Data Secara Manual</h3>
                    <div class="input-group">
                        <label for="magnitude">Magnitude/Magnitudo:</label>
                        <input type="text" id="magnitude" name="magnitude" required placeholder="Contoh, 5.6">
                    </div>
                    <div class="input-group">
                        <label for="depth">Depth/Kedalaman (kilometer):</label>
                        <input type="text" id="depth" name="depth" required placeholder="Contoh, 25">
                    </div>
                    <div class="input-group">
                        <label for="districtDropdown">District</label>
                        <select id="districtDropdown" name="district">
                            <option value="">Select District</option>
                        </select>
                    </div>
                    <button type="button" id="predictRadiusBtn" onclick="predictRadius()">Predict Radius</button>
                </form>
                <!-- CSV Upload Form -->
                <form class="form">
                    <h3>Unggah File CSV</h3>
                    <div class="input-group">
                        <input type="file" id="csvFile" accept=".csv">
                    </div>
                    <button type="button" id="uploadPredictBtn" onclick="uploadCSV()">Upload and Predict</button>
                </form>
            </div>
        </section>

        <!-- Results Section -->
        <section class="results">
            <h2>Hasil Prediksi</h2>
            <p id="result"></p>
        </section>

        <!-- Map Section -->
        <section class="map-container">
            <h2>Visualisasi Lokasi dan Radius Kerusakannya</h2>
            <div id="map"></div>
        </section>
    </div>
</main>

{% endblock %}
